*{
  box-sizing: border-box;
}

body {
  /* Back ground image */
  display: flex;
  background-image: url("book_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
  margin:auto;
  /* Font for the page*/
  font-family: 'Noto Sans', sans-serif;
}


h1 {
  text-align: center;
  margin: 20px auto 5px;
}

button {
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  font-size: 0.8em;
  letter-spacing: .5rem;
  /*width: 250px;*/
}

.codeBtn {
  margin-left:15px;
}

p{
  margin: 10px auto;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.quoteDisplay{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  font-size: 1.5em;
  color:#c61331;
  margin-top: 15px;
}

/* Twitter Button*/
a {
  display: block;
  text-align: center;
  font-size: 1.25em;
  border: 1px solid #4099ff;
  border-radius: 5%;
  background: #4099ff;
  width: 90px;
  color: white;
  text-decoration: none;
  margin: 15px auto;
}
