*{
  box-sizing: border-box;
}

body {
  /* Back ground image */
  display: flex;
  background-image: url("book_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-attachment: fixed;
  margin:auto;
  /* Font for the page*/
  font-family: 'Noto Sans', sans-serif;
}


h1 {
  text-align: center;
  margin: 0 auto;
}

button {
  text-align: center;
  margin: 10px 10px;
  font-size: 1em;
}

p{
  margin: 0 auto;
  text-align: center;
}

